venv/
.vscode/
python/__pycache__/
python/mv_utils/__pycache__/
python/vod_methods/__pycache__/
python/datasets/__pycache__/
BrackishMOT/
MOT17/
yolov5s.pt
yolov5n.pt
results/*.mp4
TrackEval_results/
runs
*.pyc